h1 {
    color:rgba(1, 44, 125, 0.746);
    font-family: sans-serif;
    position: relative;
    background-color: rgba(0, 128, 64, 0.713);
    width: fit-content;
    border-radius:  2px 5px 5px 2px;
    padding: 3px;
    padding-left: 6px;
    border-left: solid rgb(199, 0, 0) 6px;
}

/* h1::after {
    left: 3px;
    top: 7px;
    content: "";
    position: absolute;
    width: 3px;
    background-color:rgb(246, 8, 8);
    height: 29px;
    border-radius: 1px;
} */

div {
    display: flex;
    flex-direction: column;
    
}
img {
    margin-top: 10px;
    border-radius: 7px;
}